.panel-primary > .panel-heading {
  color: #fff;
  background-color: #212e7e;
  border-color: #212e7e;
}

.panel-primary {
  border-color: #212e7e;
}

span.title {
  font-weight: bold;
  font-size: 16px;
}

a.info {
  vertical-align: bottom;
  position:relative; /* Anything but static */
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999em;
  display: inline-block;
  color: white;
  font-weight:bold;
  font-size:1em;
  line-height:1em;
  background-color: #91b2d2;
  margin-left: .25em;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
}
a.info:hover {
  background-color:#628cb6;
  cursor: hand; 
  cursor: pointer;
}
a.info:before {
  content:"?";
  position: absolute;
  top: .25em;
  left:0;
  text-indent: 0;
  display:block;
  width:1.5em;
  text-align:center;
}

.popover-title {
  font-weight:bold;
}


label a.info, 
label div.popover.fade.in { 
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
label:hover a.info, 
label:hover div.popover.fade.in { 
  opacity: 1; }